.silex-component-add-dialog {
  z-index: 110;
  color: white;
  font-style: normal;
  font-size: 13px;
  line-height: normal;
  background-color: @silexdarkgrey;
  border-color: 1px solid @silexdarkgrey;
  box-shadow: 0px 0px 5px @silexdarkgrey;
  .body {
    display: flex;
    flex-flow: row;
    bottom: 0;
    top: 57px;
    position: absolute;
    margin: 0;
    width: 100%;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      overflow-y: auto;
      overflow-x: hidden;
    }
    ul.side {
      flex-flow: column;
      background-color: @silexlightergrey;
      border: double;
      margin: 20px;
      color: black;
      max-width: 240px;
      min-width: 240px;
      li:hover {
        background-color: @silexdarkgrey;
        color: @silexlightergrey;
      }
      li {
        padding: 20px;
        cursor: pointer;
        text-overflow: ellipsis;
        min-height: 20px;
        white-space: nowrap;
        overflow: hidden;
        width: 200px;
        font-size: medium;
      }
    }
    .middle {
      display: flex;
      flex-flow: column;
      flex: 2 1 auto;
      ul.tabs {
        padding-top: 20px;
        height: 70px;
        div {
          height: 19px;
          padding: 10px 30px 10px;
          cursor: pointer;
          border-top: 1px @silexlightgrey solid;
          border-left: 1px @silexlightgrey solid;
          border-right: 1px @silexlightgrey solid;
        }
        .sep {
          border-bottom: 1px @silexlightgrey solid;
          border-top: 1px solid transparent;
          flex: 1 1 auto;
        }
      }
      ul.list {
        flex: 2 1 auto;
        flex-wrap: wrap;
        li {
          margin: 20px;
          margin-left: 0;
          cursor: pointer;
          overflow: hidden;
          flex: 1 1 auto;
          display: flex;
          flex-flow: column;
          justify-content: space-between;
          padding: 20px;
          width: 150px;
          height: 150px;
          max-width: 250px;
          min-width: 150px;
          transition: background-color .5s cubic-bezier(.22,.61,.36,1), color .5s cubic-bezier(.22,.61,.36,1);
          &:hover {
            background-color: @silexlightergrey;
            color: @silexdarkgrey;
          }
          & > * {
            margin: 0;
          }
          p {
            flex: 0.5 1 auto;
          }
        }
      }
      iframe.component-editor {
        flex: 1 1 auto;
        border: none;
      }
    }
  }
  &.add {
    .tabs .edit {
      border-bottom: 1px @silexlightgrey solid;
    }
    iframe.component-editor {
      display: none;
    }
  }
  &.edit {
    .tabs .add {
      border-bottom: 1px @silexlightgrey solid;
    }
    ul.list {
      display: none;
    }
  }
}
.dock-editors .silex-component-add-dialog .body {
  flex-flow: column;
  .side {
    height: 300px;
    min-height: 250px;
    max-width: inherit;
    min-width: inherit;
    flex-flow: wrap;
    li {
      width: auto;
      max-width: 160px;
      text-align: center;
    }
  }
}
